body{
    background: url("lacf66BackgroundImage.jpg");
    margin:0;
}

#banner{
    background-color: #f7da9c;
    width:100%;
    height:75px;
    text-align: center;
    font-family: 'Chewy', cursive;
}
#header{
    font-family: 'Chewy', cursive;
}
