body{
    background: url("lacf66BackgroundImage.jpg");
    margin:0;
    padding:0;
    outline:0;
}

#banner{
    background-color: #f7da9c;
    width:100%;
    height:100px;
    text-align: center;
    font-family: 'Chewy', cursive;
}
#header{
    font-family: 'Chewy', cursive;
    color:white;
    text-shadow: 2px 2px black;
    padding-top:20px;
    margin-top:0;
    font-size: 50px;
}
#star{
    width:200px;
    height:200px;
    margin-left:250px;
}
#pic{
    width:200px;
    height:200px;
    position: relative;
    animation: star_move 5s infinite;
    animation-timing-function: linear;
}
@keyframes star_move {
    0%   {left:0px; top:0px;}
    25%  {left:250px; top:0px;}
    50%  {left:500px; top:0px;}
    75%  {left: 750px; top:0px;}
    100% {left:950px; top:0px;}
  }

  #description{
      margin-top:50px;
      height:400px;
      width:60%;
      margin-left:20%;
      background-color: #f7da9c;
      border: 2px solid white;
      border-radius: 25px;
      font-family: 'Roboto', sans-serif;
      font-size: 45px;
      color: white;
      text-shadow: 3px 3px black;
  }
